const l = console.log; // Быстрое логирование
const name = prompt('Введите ваше имя').trim();
if (!name && name == '') {
    document.location.href = 'game.html';
}
document.getElementById('playerName').innerHTML = name;
// config
let game = 1,
    pause = 0,
    speed = 20,
    volume = 1,
    starNum = 0
    fuelNum = 10,
    timer = 0
    end = 1;

const app = document.getElementById('app');
const playPause = document.getElementById('playPause');
const soundOnOff = document.getElementById('soundOnOff');
const plus = document.getElementById('plus');
const minus = document.getElementById('minus');

// Настройка шрифта
let font = {
    size: 20,
    set: function() {
        playPause.style.fontSize = this.size + "px",
        soundOnOff.style.fontSize = this.size + "px",
        plus.style.fontSize = this.size + "px",
        minus.style.fontSize = this.size + "px"
    }
}

// Звуковая настройка
const sounds = {
    background: addAudio('sounds/background.mp3'),
    hit: addAudio('sounds/hit.mp3'),
    star: addAudio('sounds/star.mp3'),
    finish: addAudio('sounds/finish.mp3'),
}

const airplane = {
    element: document.getElementById('airplane'),
    top: 300,
    left: 10,
    set: function() {
        this.element.style.marginTop = this.top + "px",
        this.element.style.marginLeft = this.left + "px"
    }
}

const bird = {
    yellow: addElement('images/bird1.gif'),
    red: addElement('images/bird2.gif'),
    blue: addElement('images/bird3.gif')
}
const birds = {
    yellow: randBird(bird.yellow),
    red: randBird(bird.red),
    blue: randBird(bird.blue)
}

const cloud = {
    one: addElement('images/cloud1.gif', 'cloud'),
    two: addElement('images/cloud2.gif', 'cloud'),
    three: addElement('images/cloud3.gif', 'cloud'),
    four: addElement('images/cloud4.gif', 'cloud'),
}

const clouds = {
    one: cloudRun(cloud.one),
    two: cloudRun(cloud.two),
    three: cloudRun(cloud.three),
    four: cloudRun(cloud.four)
}

const addStar = () => {
    return {
        element: addElement('images/star.gif', 'star'),
        top: rand(0, 690),
        left: rand(0, 900),
        set: function() {
            document.getElementById('starCount').innerHTML = starNum;
            this.element.style.marginLeft = this.left + "px"
        }
    }
}

let star = addStar();

const addFuel = () => {
    return {
        element: addElement('images/parachute.gif', 'parachute'),
        top: rand(0, 690),
        left: rand(0, 900),
        set: function() {
            document.getElementById('fuelCount').innerHTML = fuelNum
            this.element.style.marginLeft = this.left + "px"
        }
    }
}

let fuel = addFuel();

const checkFuel = () => {
    if ( fuelNum !== 0 && game && !pause ) {
        fuelNum--;
        fuel.set();
        timer++;
        document.getElementById('timer').innerHTML = "Time: " + timer +"s";
    } 
    if (fuelNum == 0 && end) {
        gameOver();
    }
}

let gameOver = () => {
    game = 0;
    end = 0;
    sounds.background.pause();
    sounds.hit.play();
    airplane.element.querySelector('img').src = "images/burn.gif";
    sounds.finish.play();

    $.post('http://modulea16/register.php/', {
        name: name,
        time: timer,
        stars: starNum
    }, function(data) {
        const obj = JSON.parse(data);
        let position = 0;
        let html = '<div><p>Позиция</p><p>Имя</p><p>Звезды</p><p>Время</p></div>';
    
        obj.forEach(element => {
            position++;
            html += '<div><p>'+position+'</p><p>'+element.name+'</p><p>'+element.stars+'</p><p>'+element.time+'</p></div>';
            timeTest = element.time;
            starTest = element.stars;
        });
        app.innerHTML = '<div class="table">' +html+ '<a href="game.html"><div class="button">Начать игру заново</div></a>';
    })
}

// Физика столкновения
const rect = (obj1, obj2, type = 'bird') => {
    if (
        obj1.offsetLeft <= obj2.offsetLeft + obj2.offsetWidth - 15 && 
        obj2.offsetLeft <= obj1.offsetLeft + obj1.offsetWidth - 15 && 
        obj1.offsetTop <= obj2.offsetTop + obj2.offsetHeight - 15 && 
        obj2.offsetTop <= obj1.offsetTop + obj1.offsetHeight - 15 
    ) {
        if (type == 'bird') {
            gameOver();
        }
        if (type == 'star') {
            sounds.star.play();
            star.set();
            star.element.parentNode.removeChild(star.element);
            starNum++;
            star = addStar();
            star.set();
            setInterval(dropStar, rand(1000));
        }
        if (type == 'fuel') {
            fuel.element.parentNode.removeChild(fuel.element);
            fuelNum = 10;
            fuel = addFuel();
            fuel.set();
            setInterval(dropFuel, rand(1000));
        }
    }
}

// Движение птиц
const moveBird = (birdColor) => {
    if (game && !pause) {
        rect(airplane.element, bird[birdColor]);
        birds[birdColor].left -= 10;
        if ( birds[birdColor].left < 0 ) {
            birds[birdColor].top = rand(0, 690);
            birds[birdColor].left = 900;
        }
        birds[birdColor].set();
    }
}

// Движение облака
const moveCloud = (cloudNum) => {
    if (game && !pause) {
        clouds[cloudNum].left -= 10;
        if ( clouds[cloudNum].left < 0 ) {
            clouds[cloudNum].top = 0;
            clouds[cloudNum].left = 900;
        }
        clouds[cloudNum].set();
    }
}

// Падение с верху
const dropStar = () => {
    star.element.style.marginTop = star.top + "px";
}
const dropFuel = () => {
    fuel.element.style.marginTop = fuel.top + "px";
}

// Кнопка паузы
const playPauseControl = () => {
    if (pause && game) {
        sounds.background.play();
        pause = 0;
        playPause.innerHTML = "Pause";
    } else {
        sounds.background.pause();
        pause = 1;
        playPause.innerHTML = "Play";
    }
}

// Кнопки для звука
const soundControl = () => {
    if (volume && game && !pause) {
        volume = 0;
        soundOnOff.innerHTML = "Sound: Off";
    } else {
        volume = 1;
        sounds.background.volume = volume;
        soundOnOff.innerHTML = "Sound: On";
    }

    sounds.background.volume = volume;
    sounds.hit.volume = volume;
    sounds.star.volume = volume;
    sounds.finish.volume = volume;
}
// Запуск игры
window.onload = function() {
    sounds.background.play();
    airplane.set();
    star.set();
    fuel.set();

    birds.yellow.set();
    birds.red.set();
    birds.blue.set();

    clouds.one.set();
    clouds.two.set();
    clouds.three.set();
    clouds.four.set();

    dropStar();
    dropFuel();

    window.onkeydown = function(e) {
        if ( e.keyCode == 37 && game && !pause && airplane.left > 0 ) {
            airplane.left -= speed;
        }
        if ( e.keyCode == 38 && game && !pause && airplane.top > 0 ) {
            airplane.top -= speed;
        }
        if ( e.keyCode == 39 && game && !pause && airplane.left < 900 ) {
            airplane.left += speed;
        }
        if ( e.keyCode == 40 && game && !pause && airplane.top < 690 ) {
            airplane.top += speed;
        }
        if ( e.keyCode == 32 ) {
            playPauseControl();
        }
        if ( e.keyCode == 107 ) {
            if ( font.size <= 23) {
                font.size += 1;
                font.set();
            }
        }
        if ( e.keyCode == 109 ) {
            if ( font.size >= 15) {
                font.size -= 1;
                font.set();
            }
        }
        airplane.set();
        rect(airplane.element, star.element, 'star');
        rect(airplane.element, fuel.element, 'fuel');
    }

    playPause.onclick = function() {
        playPauseControl();
    }
    soundOnOff.onclick = function() {
        soundControl();
    }

    plus.onclick = function() {
        if ( font.size <= 23) {
            font.size += 1;
            font.set();
        }
    }
    minus.onclick = function() {
        if ( font.size >= 15) {
            font.size -= 1;
            font.set();
        }
    }


    setInterval(function() { moveBird('yellow') }, 60);
    setInterval(function() { moveBird('red') }, 50);
    setInterval(function() { moveBird('blue') }, 40);

    setInterval(function() { moveCloud('one') }, 60);
    setInterval(function() { moveCloud('two') }, 80);
    setInterval(function() { moveCloud('three') }, 70);
    setInterval(function() { moveCloud('four') }, 90);

    setInterval(function() { 
        checkFuel() 
    }, 1000);
}







function rand(min, max) {
    return Math.floor( Math.random() * (max - min +1 ) + min);
}

function addAudio(src) {
    const audio = document.createElement('audio');
    audio.src = src;
    return audio;
}

function addElement(src, type = 'bird') {
    const div = document.createElement('div');
    const img = document.createElement('img');
    img.src = src;
    div.appendChild(img);
    div.id = type;
    div.className = type;
    app.appendChild(div);
    return div;
}

function randBird(bird) {
    return {
        top: rand(50, 690),
        left: 900,
        set: function() {
            bird.style.marginTop = this.top + "px",
            bird.style.marginLeft = this.left + "px"
        }
    }
}

function cloudRun(cloud) {
    return {
        top: 0,
        left: 900,
        set: function() {
            cloud.style.marginTop = this.top + "px",
            cloud.style.marginLeft = this.left + "px"
        }
    }
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sky Angel</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="info">
        <img src="images/logo.png" alt="logo" class="logo">
        <p class="name" id="playerName">Sky Angel</p>

        <p class="timer" id="timer">Time: 0s</p>

        <div class="button" id="playPause">Pause</div>
        <div class="button" id="soundOnOff">Sound: Off</div>
        <div class="button size" id="plus">+</div>
        <div class="button size" id="minus">-</div>
    

        <div class="counter">
            <img src="images/infostar.png" alt="star">
            <span id="starCount">10</span>
        </div>

        <div class="counter">
                <img src="images/infofuel.png" alt="star">
                <span id="fuelCount">8</span>
            </div>
    </div>

    <div class="app" id="app">
        <div class="airplane" id="airplane">
            <img src="images/airplane.gif" alt="airplane">
        </div>
    </div>
</body>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/libs.js"></script>
<script src="js/main.js"></script>
</html>